.home {
	position: relative;

	.hero {
		height: 95vh;
		width: 100vw;
		position: relative;
		overflow: hidden;
	
		&__media {
			position: absolute;
			top: -25%;
			left: -25%;
			height: 150%;
			width: 150%;
			margin: 0;
			background: url('/dist/media/hero.jpg');
			background-size: cover;
			background-position: center -280px;
			background-attachment: fixed;
			transform-origin: center;
			pointer-events: none;

			&::after {
				content: '';
				top: 0;
				left: 0;
				height: 100%;
				width: 100%;
				position: absolute;
				background: rgba(255, 255, 255, .7);
			}

			@media screen and (max-width: 768px) {
				background-attachment: unset;
			}
		}

		img {
			position: absolute;
			z-index: 1;
			color: #fff;
			top: 50%;
			left: 50%;
			transform: translateX(-50%) translateY(-50%);
		}
	}

	.info {
		max-width: 900px;
		margin: 100px auto;
		padding: 50px;
		background: #f1f1f1;

		&__copy {
			text-align: center;
			padding: 0 50px;
			font-size: 18px;
			font-weight: 300;

			span {
				display: block;
			}
		}
	}

	.travel {
		display: flex;
		flex-direction: column;
		align-items: center;

		&__copy {
			margin: 0 auto;
			max-width: 600px;
			text-align: center;
			padding: 0 20px;
			font-size: 18px;
			font-weight: 300;
		}
	}

	.donations {
		display: flex;
		flex-direction: column;
		align-items: center;

		&__copy {
			margin: 0 auto;
			max-width: 600px;
			text-align: center;
			padding: 0 20px;
			font-size: 18px;
			font-weight: 300;
			margin-bottom: 50px;
		}
	}

	.button {
		font-size: 14px;
		background: linear-gradient(#7dc5ee,#008cdd 85%,#30a2e4);
		color: #FFF;
    position: relative;
    padding: 0 12px;
    height: 30px;
    line-height: 30px;
		transition: all .3s;
		margin-top: 40px;
		font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
		text-shadow: 0 -1px 0 rgba(0,0,0,0.25);
		box-shadow: inset 0 1px 0 rgba(255,255,255,0.25);
		border-radius: 4px;
		border: 1px solid #008cdd;
		font-weight: bold;

		&:hover {
			text-decoration: none;
		}
	}

	.footer {
		padding: 10px 50px;
		
		p {
			max-width: 800px;
			font-size: 10px;
			line-height: 18px;
			letter-spacing: 0;
			margin: 0 auto;
			text-align: center;

		}
	}
}